@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import url('styles/header.css');
@import url('styles/conteudo.css');
@import url('styles/vagas.css');
@import url('styles/depoimentos.css');
@import url('styles/rodape.css');

:root {
    --cor-branco: #FFFFFF;
    --cor-texto-logo: #3A404E;
    --cor-vermelho: #8E2424;
    --cor-vermelho2: #5f0303;
    --cor-titulo: #101828;
    --cor-texto: #667085;
    --cor-borda: #EAECF0;
    --bg-vermelho: #fad1d12f;
    --bg-cinza: #fafafa;
    --bg-menu-responsivo: #db5858;
    --bg-gradient: linear-gradient(90deg, #580000, #c23d3d, #b44d4d, #b64e4e, #c03333, #660101);
}

* {
    margin: 0;
    padding: 0;   
}

body {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-texto);
    overflow-x: hidden;
}